[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[requires]

python_version = "3.6"


[dev-packages]



[packages]

matplotlib = "*"
"c899541" = {file = "https://github.com/matplotlib/basemap/archive/v1.1.0.zip"}
